.autores-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      border-bottom: 1px solid #ddd;
    }
  }

  .paginacion {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}
